*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body{height: 100%}
/*초기화*/


.header{
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    position: absolute;
    z-index: 99;
    top: 0;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
.header span img{
    width: 120px;
}
.header .header_nav{
    display: flex;
}
.header .header_tab{
    margin-left: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header_tab a{
    color: #000;
    font-weight: bold;
    display: block;
}
.header_tab a:after{
    content: '';
    display:block;
    border-bottom: solid 3px #81c147;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.header_tab a:hover{ color: #81c147; }
.header_tab a:hover:after { transform: scaleX(1); }
.header_tab a:after{  transform-origin:  0% 50%; }
/*헤더부분*/

.article{
    min-height: 100%;
    position: relative;
}

.article #map{
    position: absolute;
    width: 100%;
    height: 100%;
    touch-action: none;
    cursor: url(https://t1.daumcdn.net/mapjsapi/images/2x/cursor/openhand.cur.ico) 7 5, url(https://t1.daumcdn.net/mapjsapi/images/2x/cursor/openhand.cur.ico), default;
}
.article a{
    height: 5%;
}
/*인덱스 - 카카오 지도*/
.searchArea{
    background-color: #fff;
    z-index: 100;
    position: absolute;
    top: 100px;
    width: 300px;
    height: 120px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
}
.search_head{
    background-color: #81c147;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    height: 30%;
    border-radius: 5px 5px 0 0;
}
.search_body{
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_right{
    margin: 10px;
}
.search_right select, .search_right input{
    width: 100%;
    padding: 3px;
}
.search_right select{
    margin-bottom: 3px;
}
.search_right label{
    font-size: 8px;
}
.search_btn{
    margin: 10px;
    width: 70px;
    height: 50px;
    border: none;
    background-color: #81c147;
    color: #fff;
    font-weight: bolder;
}
/*인덱스 - 맵 검색창*/
.header_login a{
    color: #777;
    font-weight: bold;
    font-size: 12px;
}
/*인덱스 - 로그인*/
.login_layout{
    margin: 200px auto;
    width: 400px;
    border: 1px solid black;
}
.login_layout h2{
    margin-top: 20px;
    text-align: center;
    height: 20%;
}
.login_layout input{
    margin: 5px;
    padding: 10px 20px;
}
.login_form{
    height: 80%;
    margin: 20px auto 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_form li{
    height: 100px;
}
.login_form #login_btn{
    height: 85%;
}
.login_layout .login_social{
    text-align: center;
}
.login_layout .register{
    text-align: center;
    margin-bottom: 10px;

}
.login_layout .register a{
    font-size: 10px;
    color: #777777;
}
/*로그인*/
.register_form{
    margin-top: 20px;
}
.register_form input{
    width: 80%;
    display: flex;
    margin: 5px auto;
}
.register_form #register_btn{
    justify-content: center;
}
/*회원가입*/
.customoverlay{
    margin: 10px;
    width: 200px;
    height: 100%;
}
.customoverlay p:nth-of-type(1){
    margin-bottom: 3px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.customoverlay p:nth-of-type(1) span{
    font-weight: bold;
    font-size: 10px;
    color: #777777;
    line-height: 20px;
}
.customoverlay p:nth-of-type(2){
    margin-top: 10px;
}
.close:hover {cursor: pointer;}