<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>휴약</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/shorticon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/shorticon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/shorticon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/shorticon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/shorticon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/shorticon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/shorticon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/shorticon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/shorticon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/shorticon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/shorticon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/shorticon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/shorticon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/shorticon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="header_container">
            <span class="header_nav">
                <a href="/">
                    <img src="../static/img/logo.png" alt="로고 이미지">
                </a>
                <ul class="header_tab">
                    <li><a href="#">약국정보</a></li>
                    <li><a href="#">게시판</a></li>
                    <li><a href="#">리뷰</a></li>
                </ul>
            </span>
            <span class="header_login"> <a href="login">로그인</a></span>
        </div>
    </div>
    <div class="login_layout">
        <h2>회원가입</h2>
        <form action="register_action">
            <ul class="register_form">
                <li>
                    <input type="text" name="id" placeholder="아이디를 입력하세요.">
                    <input type="password" name="pwd1" placeholder="비밀번호를 입력하세요.">
                    <input type="password" name="pwd2" placeholder="비밀번호를 다시 입력하세요.">
                </li>
                <li>
                    <input id="register_btn" type="submit" value="회원가입">
                </li>
            </ul>
        </form>
        <p class="register"><a href="login">돌아가기</a></p>
    </div>
</div>
</body>
</html>
